
					<div class="well history-content about-us-experience">
					<h2 class="well-h2 about-us-exp-header v2">
				          Meditation
					</h2>
					<div class="about-us-exp-content-1 v2">
					    <%= image_tag("events/other-events/meditation.jpg", alt: "Meditation") %>
						<p>Raja Yoga meditation is the clearest method of attaining mastery over your own life. Unwanted habits are banished forever, stress is replaced with peace and worry is transformed into well-being. Raja Yoga is unique in that it merges spiritual education with open-eyed meditation.</p>
<br><br>
						<p>This modern technique is based on an ancient understanding of the mind and its powers. When the intellect has mastery over these powers, there is peace & contentment. On a practical level, concentration & efficiency levels are increased, relations are improved and negative habits are overcome. </p>
<br><br>
						<p>Just like any healthy lifestyle practice, the practice of Raja Yoga meditation blends into one’s life, giving experiences of inner peace and contentment. As one progresses to be a regular meditation practitioner, this new understanding enables one to be proactive in life and to value each moment of self awareness. Most importantly, a meditator needs an environment that supports his/her practice and helps trigger their spiritual awakening. The Brahma Kumaris Raja Yoga Centre is a haven of peace & tranquillity. You are invited to continue to take benefit from the Centre even after you have completed the Raja Yoga course. All courses offered by the Brahma Kumaris Raja Yoga Centre are free of charge.</p>
					</div>	
					
					
					</div>
					
				
