
					<div class="well history-content">
					<h2 class="well-h2">
						Brahma Kumaris in Singapore
					</h2>
					<div class="clearfix">
					<h3>Meditation</h3>
					    <%= image_tag("history/meditation-room.jpg", alt: "Experiences") %>
						<p>			
						The most important journey you can take is the journey within. This is a journey to the truth of who you really are. This is the place, just beyond everyday consciousness, where real empowerment begins. Inner power gives you the strength to choose creative thinking rather than automated thinking, response rather than reaction, peace, love and harmony rather than stress, conflict and chaos.
						</p>
						<p>  
						Meditation enables you to embark on this inward journey. Brahma Kumaris Raja Yoga meditation gives you a clear understanding of your inner self, helps you rediscover and use the positive qualities already latent within you. 
						</p>
						<p>  
						If you have ever wanted to learn to meditate, develop stress management techniques, feel calmer, make positive changes in your life or just feel a little more peaceful … the solution may be closer than you think.
						</p>
					</div>	
					<div class="clearfix">	
					<h3>Questions and Answers.</h3>
						 <p>

						1. What actually is Raja Yoga?<br>
						Raja Yoga is a pure form of meditation which starts with an understanding of the inner self, then goes on to reflection on positive aspects of the self and with this focus to create an inner experience of the self. The aim is ultimately to create a link between the self and the Highest Being.

						</p>
						<p>
						2. What are the benefits?<br>
						Stability and clarity of mind coupled with deep inner peace and contentment. In addition one gains power to erase negative attitudes and feelings and develop a positive and easy nature.
						</p>
						<p>
						3. Is Raja Yoga a religion/sect?<br>
						No. Centres and the practice of Raja Yoga meditation are open to all regardless of age, race, culture or religion. Individuals are encouraged to continue with their work and family and apply meditation on a personal level. Centres provide an oasis of peace for meditation, a focus for study and company of people from all walks of life who practise meditation regularly.
						</p>
						<p>
						4. Does it take long to become proficient?<br>
						From the first day there can be the experience of some calm and peace which acts as a glimmer of what is possible. This will vary with each individual. However,  most people have quite profound experiences within the first 3 months of practice.
						</p>
						<p>
						5. How can meditation help me to cope with mundane and negative situations?<br>
						A new understanding and perspective of situations brings clarity to the mind. It enables one to be compassionate, understanding and responsible while remaining free from negative emotions such as anger, fear and worry. A few minutes of meditation at the start of each day helps one to remain positive and calm even under pressure.
						</p>
						<p>
						6. If courses and activities are provided free, where does the centre obtain funds?<br>
						Teachers and students of the centre use their spare time in teaching, administration of the centre and its activities. Voluntary contributions from meditators who have taken benefit, help to finance the centre and its activities for themselves and others.
						</p>

					</div>		
					
					
					</div>
					
				
