
					<div class="well history-content">
					<h2 class="well-h2">
						Brahma Baba - Founder
					</h2>
					<div class="clearfix">
						<%= image_tag("history/brahma_baba1.jpg", alt: "Founder") %> 
						<p>On a physical level, Brahma Baba was a man of stature, with soft white hair and a handsome visage. On a spiritual level, his presence was soothing and gentle, and from his eyes emanated wisdom, understanding, compassion and strength.Brahma Baba, born into a humble home as Lekhraj Kripilani in 1876, was the son of a village schoolmaster. Lekhraj was brought up within the disciplines of the Hindu tradition. He did not follow in his father's footsteps as a teacher; instead he entered the jewellery business, earning considerable fortune as a diamond trader. As a businessman and as a family man, father of five children, Dada Lekraj maintained a highly respectable position within the local community and was known for his philanthropy.Then, in 1936, at the age of 60, when most of his colleagues were planning their retirement, Dada Lekhraj entered into the most active and fascinating phase of his life, during which he became known as Brahma Baba.</p>
					</div>	
					<div class="clearfix">						
					    <%= image_tag("history/brahma_baba2.jpg", alt: "Founder") %> 
							<p>Initially he felt called to invest more time in quiet reflection and solitude. Then one day, while in a meditative state Brahma Baba felt a warm flow of energy surrounding him, filling him with light and exposing him to a series of powerful visions. These visions continued periodically over several months. They gave him new insights into the innate qualities of human souls, revealed the mysterious entity of God and described the process of world transformation. The intensity of the messages conveyed by the visions was such that Brahma Baba felt compelled to wrap up his worldly business and devote himself to understanding the significance and application of this revealed knowledge. Although the visions ceased, their Source remained with him for the next 3 decades, guiding his transformation as well as that of those around him.</p>
					</div>		
					<div class="clearfix">
					<h3>Brahma Baba's Legacy</h3>
					    <p>70 years have passed since Brahma Baba received that series of visions. Who could have guessed – besides those touched by similar visionary experiences – that the young women he placed at the forefront of the institution he founded would now be on the world stage, 
						sharing platforms with political and religious leaders at the highest level, and leading a lifestyle revolution currently followed by nearly one million people from all backgrounds of culture and religion, race and society? Or that millions of others – at this time when loss of integrity in human hearts and minds has plunged so many into despair – would be taking benefit from the teachings he transmitted, finding empowerment in the present and hope for the future?. The living skills that Brahma Baba taught have stood the test of time. The young women that he put to the forefront, now in their eighties and nineties, have become beacons of love, peace and happiness in a world increasingly troubled by disordered relationships, greed, addiction, anger and violence.</p>
					</div>
					<div class="clearfix">
					<h3>Brahma Baba – Tower of Peace</h3>
					    <%= image_tag("history/brahma_baba3.jpg", alt: "Founder") %>
							<p>Brahma Baba passed on in 1969 at the age of 93. The Tower of Peace on the Madhuban campus is a tribute to the invincible spirit of this ordinary human being who achieved greatness by rising to the challenge of the deeper truths of life.</p>						
					</div>
					</div>
					
				
