
					<div class="well history-content">
					<h2 class="well-h2">
						Brahma Kumaris History
					</h2>
					<div class="clearfix">
					<h3>Brahma Baba</h3>
					    <%= image_tag("history/history1.jpg", alt: "History") %> 
						<p>Perhaps few organisations have stimulated as much change and discussion at the time of their inception, or have undergone such expansion in succeeding decades, as the Brahma Kumaris World Spiritual University. Yet, throughout its growth and development, the BKWSU has managed to maintain its original principles and adhere to its original purpose.
						When the University came into being under the name "Om Mandali" it consisted of only a handful of men, women and children living in Hyderabad, Sindh (now part of Pakistan, but at that time part of colonial India). After a respected and wealthy member of their community, Dada Lekhraj, experienced a series of visions in 1936, these spiritual pioneers were inspired to transform their lives.
						Brahma Baba</p>
					</div>	
					<div class="clearfix">	
					<h3>Founder's Visions</h3>
					    <%= image_tag("history/history2.jpg", alt: "History") %> 
							<p>Dada Lekhraj's visions revealed a body of knowledge about the nature of the soul, of God and of time – concepts so simple in their expression but so profound in meaning that they awakened a powerful sense of recognition in those with whom the visions were shared. A year after Om Mandali's establishment, the organisation moved from Hyderabad to Karachi. For fourteen years, until two years after the partition of India and Pakistan, the founding group of nearly 400 individuals lived as a self–sufficient community devoting their time to intense spiritual study, meditation and self transformation.</p>
					</div>		
					<div class="clearfix">
					<h3>World Spiritual Headquarters</h3>
					    <%= image_tag("history/history3.jpg", alt: "History") %> 
						<p>In 1950, the community moved to Mount Abu, a quiet place reputed for its ancient heritage and regarded as a sacred destination by many in search of spiritual rejuvenation and empowerment.Nestled high in the Aravali Mountains of Rajasthan, it provided an ideal location for reflection and contemplation. After a few years in a rented building, the community moved to the site which remains the University's world spiritual headquarters: Madhuban (meaning 'Forest of Honey').</p>
					</div>
					<div class="clearfix">
					<h3>Expansion of Brahma Kumaris in India</h3>
					    <%= image_tag("history/history4.jpg", alt: "History") %> 
							<p>In 1952, Brahma Baba, as Dada Lekhraj had become known – being aware of the devastating scars the troubled independence process and partition had left on peoples' lives – felt that it was time to share with the rest of India the knowledge that he had received. He therefore sent a few young women members to Bombay and Delhi 'on service'. Their task was to establish study centres where the knowledge of Raja Yoga could be taught. Today there is scarcely a town in India without a Brahma Kumaris (BK) study centre. Since the fifties, the organisation has progressed in leaps and bounds. In 1971, permanent centres were established in the UK and Hong Kong, which soon led to worldwide expansion and consistent, progressive growth, both geographically and in overall membership. World Spiritual University.Today there are hundreds of thousands of students attending thousands of meditation centres in nearly one hundred countries. While Madhuban itself serves as the nucleus of these BK centres, the Madhuban complex currently includes two other campuses, The Academy for a Better World, also known as Gyan Sarovar (Lake of Knowledge) located elsewhere on the mountain, and Shantivan (Forest of Peace) located at the mountain's base. Altogether every year the three campuses attract over 2.5 million individuals (students and visitors) from all ethnic and religious backgrounds.From humble beginnings, the organisation has come a long way.</p>						
					</div>
					</div>
					
				
