
					<div class="well history-content">
						<h2 class="well-h2">
							Spiritual Leaders
						</h2>
						<div class="clearfix">
							<p>One of the first questions frequently asked upon encountering the Brahma Kumaris is, "Is this a women's organisation?" The answer is "no". Although primarily administered by women, it is an organisation in which both women and men participate equally.</p>
							<p>In October 1937, Brahma Baba formed a Managing Committee of eight young women and in February 1938, he surrendered all his property and assets to a Trust administered by them. The soundness of his decision to choose women and young girls as administrators and spiritual teachers has been born out by the Brahma Kumaris World Spiritual University (BKWSU) becoming a respected global institution under their leadership. Brahma Baba also correctly foresaw that core values based on traditionally feminine qualities – patience, tolerance, sacrifice, kindness and love – would increasingly become the foundation of progress in personal growth, human relations, and the development of caring communities.</p>
						</div>	
						<div class="clearfix">						
							<h3>Spiritual Partnership</h3>
								<p>Brahma Baba's vision of the future world was one of harmony between the sexes and of partnership rooted in spirituality, for spirituality is the key to trust and respect. Today, although women head the organisation, there are many men coordinating centres and playing other key administrative roles.</p>
						</div>
						<h2 class="well-h2">
							Current Spiritual Leaders
						</h2>					
						<div class="clearfix">
						<h3>Dadi Janki</h3>
						<h4>Administrative Head – Brahma Kumaris</h4>
					    <%= image_tag("history/spiritual1.jpg", alt: "Leaders") %>
							<p>As Administrative Head of the Brahma Kumaris, Dadi Janki provides a working leadership model for all women and men who are seeking to integrate both male and female qualities into their personal and professional lives. Dadi Janki lovingly engages people of all faiths and walks of life to be true to their spiritual self; to undertake their unique and individual part in the play of creating a future world worthy of the generations to come. In short, Dadi Janki calls us all to our potential.</p>
							<a href="http://www.brahmakumaris.org/whoweare/spiritualleaders/dadijanki.htm" target="_blank" class="pull-right">Read more about Dadi Janki</a>
						</div>
						<div class="clearfix">
						<h3>Dadi Hirdaya Mohini</h3>
						<h4>Additional Administrative Head – Brahma Kumaris</h4>
						   <%= image_tag("history/spiritual2.jpg", alt: "Leaders") %>
							<p>The name Hirdaya Mohini means 'The one who attracts the heart', and perhaps because she attracts the hearts of one and all, Dadi is popularly known by the name Gulzar, which means 'rose garden'. At the age of eight, Dadi Gulzar was one of the original members of a boarding school set up in Sindh in 1937 by Brahma Baba. Her concentrated training in spiritual principles and practice has continued ever since. Dadi Hirdaya Mohini became a member of the committee of women that administers the Brahma Kumaris and, in doing so, paved the way for many other women to develop leadership skills.</p>
							<a href="http://www.brahmakumaris.org/whoweare/spiritualleaders/dadihirdayamohini.htm" target="_blank" class="pull-right">Read more about Dadi Hirdaya Mohini</a>
						</div>
						<div class="clearfix">
						<h3>Dadi Ratan Mohini</h3>
						<h4>Joint Administrative Head – Brahma Kumaris</h4>
						   <%= image_tag("history/spiritual3.jpg", alt: "Leaders") %>
							<p>Dadi Ratan Mohini wears several administrative 'hats' in addition to being Joint Administrative Head of the BKWSU. She is also the Director of the Personnel Department of the Madhuban campuses at the University's headquarters in Mount Abu, Chairperson of the Youth Wing of the Raja Yoga Education and Research Foundation, Director of Teacher Training Programmes in India, and Zonal Head of Brahma Kumaris services in the state of Rajasthan. Yet this "most beautiful jewel", as her name connotes, always appears light and tension-free. Known for her dedication to fostering spiritual and moral excellence in young people, Dadi, even in her eighties, is herself lively and young at heart. </p>
							<a href="http://www.brahmakumaris.org/whoweare/spiritualleaders/dadiratanmohini" target="_blank" class="pull-right">Read more about Dadi Ratan Mohini</a>
						</div>
						
					</div>
					
				
