<div class="well history-content">
  <h2 class="well-h2">
    Raja Yoga Meditation 
  </h2>
  <div class="clearfix">
    <h3>Here are a few meditations to get you started.</h3>
    <%= image_tag("history/history1.jpg", alt: "History") %> 
    <p>Like any skill, meditation requires practice to achieve satisfying results.More and more people are adding some kind of meditation to their daily routine either as an effective antidote to stress, or as a simple method of relaxation.By doing a little meditation every day, it soon becomes a natural and easy habit, which generously rewards you for the effort it involves.</p>
    <p>You can travel much further on your inward journey by learning how to meditate through our free Foundation Course in <a title="Raja Yoga Meditation" href="http://www.brahmakumaris.org/whatwedo/courses/fcirym" target="_self">Raja Yoga Meditation</a>. This form of meditation is based on understanding the incredible power of the mind. If you are not sure that you’re ready for meditation but would like to understand your mind better, gain greater clarity and learn how to manage your thoughts, our <a href="http://www.brahmakumaris.org/whatwedo/meditation/courses/positivethinking.htm" target="_self">
Positive Thinking</a> course is for you.
    </p>
    <p>For Meditation experience audio/video click here <a href="http://www.brahmakumaris.org/interactive/audiovideo/#Audio" target="_blank">Raja Yoga Meditation</a>
    </p>
  </div>	
</div>
