<%= javascript_include_tag 'swfobject' %>
<div class="well history-content">
  <h2 class="well-h2 video-header"> Our Journey </h2>
  <div class="bk_singapore_video clearfix">
    <%#= video_player({:file =>"/videos/brahma_kumaris_singapore.flv"}, {:width => 640, :height => 480, :id => "bk_video"})%>
    <%= video_player({:file =>"/videos/brahma_kumaris_singapore.flv", :autostart => true}, {:width => "100%", :height => "100%", :id => "bk_video"})%>
  </div>
  <div class="about-us-content clearfix">
  <p>
With the understanding that there is intrinsic spirituality and positivity in every human being, we help people to go on a journey of self-discovery and reawaken that goodness within them. Over the years, thousands have taken up meditation and other courses offered by the centre or attended talks and workshops.
 </p>
</div>
<div class="about-us-content-2">
  <p>
Teachers and students from the Centre also visit community clubs and organizations, prisons, hospitals, schools and business organizations providing training in personal skills development, meditation and team-work through workshops, seminars and lectures.Some of the organisations, companies and clubs that have invited the Brahma Kumaris Raja Yoga Centre includes
  </p>
  <ul>
    <li>National Library Board (Wellness Programs)</li>
    <li>Singapore Tourist Promotion Board</li>
    <li>Nanyang Polytechnic</li> 
    <li>Singapore Polytechnic</li>
    <li>National Semiconductors</li>
    <li>Land Transport Authority</li>
    <li>Reuters</li>
    <li>Tan Tock Seng Hospital</li>
    <li>Alexandra Hospital</li>
    <li>Changi Beach Club</li>
    <li>SANA</li>
    <li>SINDA</li>
    <li>Great Eastern Life</li>
    <li>NUS Hindu Society</li>
    <li>AWWA</li>
    <li>Kebun Baru CC</li>
    <li>Thomson CC</li>
    <li>Jelutong CC</li>
    <li>Ramakrishna Mission, among many others</li>
  </ul>
    <p>The Singapore Brahma Kumaris Centre also participates in international projects organized by the parent body by organizing activities at a national level. Over the years Singapore has organized Global projects such as:</p> 
    <ul>
      <li>Million Minutes of Peace in 1986 for the International Year of Peace. Brahma Kumaris Raja Yoga Centre collected the commitment from Singaporeans to spend one million minutes in prayer, reflection or meditation.</li>
      <li>Global Cooperation for a Better World in 1989 in which people throughout the 86 countries in the world were asked to consider what they wanted in a better world. Data collected was compiled into a book “Visions for a Better World”.</li>
      <li>Living Values Education in 1995, an initiative to introduce values in a systematic way into schools, communities, workplace etc.</li>
      <li>UN designated program called International Year for the Culture of Peace (IYCOP) in 2000. In this project BKRYC invited Singaporeans to participate in Manifesto 2000, in which they were asked to pledge participation in one or more of the following areas:</li>
        <ul>
          <li>Respect All Life</li>
          <li>Share with Others</li>
          <li>Preserve the Planet</li>
          <li>Rediscover Solidarity</li>
          <li>Reject Violence</li>
          <li>Listen to Understand</li>
        </ul>
    </ul>
  </div>
</div>
