      <tr>
        <td>
           <%= link_to image_tag(photo.image.url(:small), class: 'media-object'), photo.image.url, target: '_blank' %>
        </td>
        <td><%= photo.title %></td>
        <td><%= photo.description %></td>
      </tr>
