<div class="well history-content">
<h3>Photos List	  
  <p class="pull-right">
    <%= link_to 'Add New Photo (+)', new_admin_photo_path, :class=>"btn btn-default active" %>
  </p>	  
</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @photos %>
  </tbody>
</table>
</div>

</div>
