<div class="well history-content">
					<h2 class="well-h2">
						Spiritual Headquarters: Mount Abu 
					</h2>
					<div class="clearfix">
<p class="clearfix">					
					    <%= image_tag("history/headquarters1.jpg", alt: "History") %> 
</p>
						<p>India is a country rich in tradition and legendary stories of the intrigues that depict the wars and romances of its ancient kings and their kingdoms of unimaginable wealth. Many of these kings or 'rajas' lived in the state of Rajasthan, 'The Land of Kings'. During the hot summers the Rajput kings travelled across the desert plains to the cooling heights of their summer palaces in the Aravali Mountains. Today, winding their way up the serpentine mountain road away from the desert, travellers are wonderstruck by the magic of these mountains.</p>
					</div>	
					<div class="clearfix">
					<h3>Mount Abu</h3>
<p class="clearfix">
					    <%= image_tag("history/headquarters2.jpg", alt: "History") %> 
</p>
						<p>The highest peak among the Aravalis is Mount Abu. In ancient texts and folklore, Abu is associated with the names of sages and seers; thus there are many temples and hermitages to be found upon it. One of the most exquisite works of art in India is the 11th century Dilwala Temple built here and maintained by the Jains.</p>
<h4>Mt. Abu: The Town</h4>
<p>The town of Mount Abu itself is a bustling bazaar: dusty shops burst into narrow streets, vendors cry out their wares and sacred cows wander aimlessly amidst the people. More often than not, the hospitable shopkeepers proudly introduce foreign customers to their family members. The friendly, hard working Rajasthani people still carry the regal bearing of their heritage – the men are decked in their turbans and the women in their colourful dresses and traditional jewellery.</p>
					</div>	
<div class="clearfix">
					<h3>Spiritual Headquarters Campuses</h3>
<p class="clearfix">
					    <%= image_tag("history/headquarters3.jpg", alt: "History") %> 
</p>
						<p>However, a short walk takes you away from the maze of activity into the tranquil seclusion of this sacred destination whose atmosphere emanates a sense of enchantment; and to the worldwide spiritual headquarters of the Brahma Kumaris from whence the knowledge of the king of all yogas, Raja Yoga, is disseminated. The spiritual headquarters complex consists of three campuses – Madhuban, Gyan Sarovar and Shantivan – as well as a recreational park and the Global Hospital & Research Centre. </p>
					</div>
</div>
