<div class="well">
<table id="mapresults" border="4" bordercolor="#CCCCCC" cellpadding="5" cellspacing="0">
            <tbody><tr>
              <td id="city" class="tdborder" width="18%" align="left"><b>City</b></td>
              <td id="address" class="tdborder" width="40%" align="left"><b>Address</b></td>
              <td id="contactinfo" width="42%" align="left"><b>Contact Information</b></td>
            </tr>
            <tr>
              <td class="tdborder" width="18%" align="left"> Singapore </td>
              <td class="tdborder" width="40%" align="left"> Peace Hall<br>
                7 Hindoo Road #03-00<br>
                Singapore - 209 108 
             </td>
              <td width="42%" align="left"><span class="pinktxt">Email: </span>&nbsp;<a href="mailto:singapore@sg.bkwsu.org">singapore@sg.brahmakumaris.org</a>
<br>            
<span class="pinktxt">Contact Number: </span>&nbsp; 62966566 / 64411411
            </tr>
            
          </tbody></table>

   <div class="contact_us_img">
     <img src="/assets/contact_us/contact_us2.png" alt="Contact Us">
<!--
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfEUq9trAUuzu_OVmDv0hft8wIDhWb0Jc&callback=initialize"></script>
-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAA0yMxQWwRq2LL4m0PXfVHC3T9HJViDNg&callback=initialize"></script>
<script>
var geocoder;
var map;
var address = "7 Hindoo Road #03-00 Singapore - 209 108";

function initialize() {
  geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(1.308649, 103.853783);
  var myOptions = {
    zoom: 45,
    center: latlng,
    mapTypeControl: true,
    mapTypeControlOptions: {
      style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
    },
    navigationControl: true,
    //mapTypeId: google.maps.MapTypeId.ROADMAP
    //mapTypeId: google.maps.MapTypeId.SATELLITE
    mapTypeId: google.maps.MapTypeId.HYBRID
  };
  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  if (geocoder) {
    geocoder.geocode({
      'address': address
    }, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
          map.setCenter(results[0].geometry.location);

          var infowindow = new google.maps.InfoWindow({
            content: '<b>' + address + '</b>',
            size: new google.maps.Size(150, 50)
          });

          var marker = new google.maps.Marker({
            position: results[0].geometry.location,
            map: map,
            title: address
          });
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
          });

        } else {
          alert("No results found");
        }
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
     <div id="map_canvas" style="width:55%; height:80%; float:right;"></div>
   </div>
</div>
