			<div class="carousel slide" id="carousel-385695">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-385695">
					</li>
					<li data-slide-to="1" data-target="#carousel-385695" class="active">
					</li>
					<li data-slide-to="2" data-target="#carousel-385695">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
					<%= image_tag("carousel/suraj-bhai.jpg", alt: "First Thumbnail label") %> 
						<div class="carousel-caption">
							<h4>
							</h4>
							<p>
							</p>
						</div>
					</div>
					<div class="item">						
<%= image_tag("carousel/raksha-bandhan.jpg", alt: "Second Thumbnail label") %>
						<div class="carousel-caption">
							<h4>
							</h4>
							<p>
							</p>
						</div>
					</div>
					<div class="item">
<%= image_tag("carousel/banner3.jpg", alt: "Third Thumbnail label") %>
						<div class="carousel-caption">
							<h4>
							</h4>
							<p>
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-385695" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-385695" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>

<div class="well">
					<h2 class="well-h2">
						Introducing Ourselves
					</h2>
					<p>We are individuals of all ages and backgrounds who regularly attend classes at more than 8,500 centres of the Brahma Kumaris World Spiritual University located in 110 countries.</p>
					<p>We study spiritual knowledge that nurtures respect for all faith traditions, coherently explains the nature of soul, God, time, and karma, and delineates an enlightened lifestyle.</p>
					<p>We practise and teach a form of meditation that relaxes the mind and nurtures a healthy balance between our inner and outer worlds. Through numerous social service activities and partnerships, we promote spiritual understanding, leadership with integrity and elevated actions towards a better world.</p>
					</div>

					<div class="well">
					<h2 class="well-h2">
						Rajayoga Meditation
					</h2>
					<p>			
					  The most important journey you can take is the journey within. This is a journey to the truth of who you really are. This is the place, just beyond everyday consciousness, where real empowerment begins. Inner power gives you the strength to choose creative thinking rather than automated thinking, response rather than reaction, peace, love and harmony rather than stress, conflict and chaos.
					</p>
					<p>  
					Meditation enables you to embark on this inward journey. Brahma Kumaris Raja Yoga meditation gives you a clear understanding of your inner self, helps you rediscover and use the positive qualities already latent within you. 
					</p>
					<p>  
					If you have ever wanted to learn to meditate, develop stress management techniques, feel calmer, make positive changes in your life or just feel a little more peaceful … the solution may be closer than you think.
					  </p>	

					  <h3 class="well-h2"> Experience Meditation</h3>
						<p>
						  Like any skill, meditation requires practice to achieve satisfying results. More and more people are adding some kind of meditation to their daily routine either as an effective antidote to stress, or as a simple method of relaxation. By doing a little meditation every day, it soon becomes a natural and easy habit, which generously rewards you for the effort it involves 
						 <a href="http://www.brahmakumaris.org/whatwedo/meditation/meditationexp.htm" target="_blank">Experience Meditation</a>				
						</p>
					</div>
					
				
