<div class="well history-content about-us-experience">
  <div class="clearfix events-margin-bottom">	
    <div class="about-us-exp-div"><h2 class="well-h2-events about-us-exp-header">Courses</h2></div>
        <%= image_tag("events/courses/courses_2.jpg")%> 
       <div class="about-us-exp-content-1">
 	 <p>
       The Foundation Course in Raja Yoga Meditation provides a logical and practical understanding of the relationship between spirit and matter, as well as an understanding of the interplay between souls, God and the material world. The series of classes in this course will facilitate your inward journey in an efficient and effective way. Read more about <a href="http://brahmakumaris.org/wisdom/courses-we-offer" target="_blank">The Foundation Course</a> in Raja Yoga Meditation.
	 </p>
        <p class="pull-right">
          <a href="/events/courses">List of Courses</a>
        </p>
     </div>
     </div>

                                        <div class="about-us-exp-content-2">
                                          <h3 class="about-us-exp-header">FAQ</h3>
                                          <div class="content">
                                            <p> What actually is Raja Yoga?</p>
                                          </div>
                                          <div class="content-2">
                                            <p>Raja Yoga is a pure form of meditation which starts with an understanding of the inner self, then goes on to reflection on positive aspects of the self and with this focus to create an inner experience of the self. The aim is ultimately to create a link between the self and the Highest Being.</p>
                                          </div>
                                          <div class="content">
                                                <p>What are the benefits?</p>
                                         </div>
                                          <div class="content-2">
                                            <p>
                                                Stability and clarity of mind coupled with deep inner peace and contentment. In addition one gains power to erase negative attitudes and feelings and develop a positive and easy nature.
                                                </p>
                                          </div>
                                          <div class="content">
                                            <p>How can meditation help me to cope with mundane and negative situations?</p>
                                         </div>
                                          <div class="content-2">
                                            <p>A new understanding and perspective of situations brings clarity to the mind. It enables one to be compassionate, understanding and responsible while remaining free from negative emotions such as anger, fear and worry. A few minutes of meditation at the start of each day helps one to remain positive and calm even under pressure.
                                                </p>
                                         </div>
                                         <div class="content">
                                           <p>If courses and activities are provided free, where does the centre obtain funds?</p>
                                         </div>
                                         <div class="content-2">
                                           <p> Teachers and students of the centre use their spare time in teaching, administration of the centre and its activities. Voluntary contributions from meditators who have taken benefit, help to finance the centre and its activities for themselves and others.</p>
                                          </div>
                                        </div>


</div>
