<div class="well history-content">
  <div class="clearfix">
    <h2 class="well-h2-events">Workshops</h2>
    <div class="clearfix events-margin-bottom">
      <%= image_tag("events/other-events/event-1.jpg") %>
      <%= image_tag("events/other-events/event-2.jpg") %>
     </div>

	<p>
	  Brahma Kumaris venues regularly offer workshops and meditation programs. These short courses and programs encouraging spirituality in daily living may include topics such as anger management, stress relief and self esteem. For information as to what is available in your area, see our 
<a href="/events/events_calendar">Monthly Calendar of Events</a>.
	</p>
	<p class="pull-right">
      <a class="btn btn-default btn-lg active" href="/events/workshops">Click here to Register</a>
    </p>
  </div>	  
</div>
