<div class="well history-content events-div">
  <div class="clearfix">
    <h2 class="well-h2-events event-header">Talks & Workshops</h2>
    <div class="clearfix events-margin-bottom">
      <%= image_tag("events/other-events/event-1.jpg") %>
      <%= image_tag("events/other-events/event-2.jpg") %>
    </div>
    <div class="event-content"> 
	<p>
            Brahma Kumaris venues regularly offer Talks & Workshops from local or visiting speakers and meditation programs. These short courses and programs encouraging spirituality in daily living may include topics such as Anger Management, Stress Relief, Self Management Leadership and Positive Thinking. 
<!--
For information as to what is available in your area, see our <a href="/events/events_calendar">Monthly Calendar of Events</a>.
-->
	</p>
    </div>
	<p class="pull-right">
          <!-- <a class="btn btn-primary" href="/events/talks_workshops">Register</a>  -->
          <a href="/events/talks_workshops">List of Talks & Workshops</a>
       </p>
  </div>	  
</div>

