<div class="well history-content">

  <% @courses.each do |course| %>
<div class="form-group clearfix">
     <h2><%= course.name %></h2>
     <%= course.descript.html_safe %>
<p class="pull-right">
     <%= link_to "Click here to register", new_user_registration_path(course: course) %>
</p>
</div>
  <% end %>

</div>
