<div class="well history-content calendar-margin">
  <div id="calendar"></div>
  <span><i><sup>*</sup> Only for BK Rajayoga students</i></span>
</div>
<script type="text/javascript">
var data = JSON.stringify('<%= display_events_list(@events) %>')
data = $.parseJSON(data)
data = $.parseHTML(data)[0]
$('#calendar').fullCalendar({
    header: {
      left: 'prev,next today myCustomButton',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
      defaultView: 'month',
      editable: false,
      eventLimit: true,
      timeFormat: 'hh:mm a',
      //selectable: true,
      //selectHelper: true,
      events:  JSON.parse(data.data) 
  })    
</script>
