
					<div class="well history-content margin-site">
					<h2 class="well-h2 color-header">
						Local Activities
					</h2>
					<div class="clearfix">
					<h3 class="header-h3">World Peace Hour (Meditation)</h3>
					  <div class="content-1-site">    
					    <p>A monthly one-hour meditation session (every 3rd Friday 7-8 pm) which gives all of us a chance to contribute Peace and Happiness through our thoughts and spiritual vibrations to eradicate the mental stress and peacelessness now prevailing in the whole world</p>
                                          </div>
					</div>	
					<div class="clearfix">
					<h3 class="header-h3">Video Workshops: </h3>
                                          <div class="content-1-site">					    
						<ul class="ul-video-workshops">
						  <li>An interactive session of Dialogue, Discussion and Deliberation</li>
						  <li>Based on video clips of talks given by our senior teachers who are experienced in the application of Raja Yoga meditation in their life</li>
						<li> Active participation from audience thru’ group discussion with exercises on practical life examples </li>
						</ul>
                                          </div>
					</div>	
					<div class="clearfix">
					<h3 class="header-h3">Relationship Workshop Series</h3>
                                          <div class="content-1-site">					    
						<p>On the fourth Friday of the month, we bring to you a series of workshops on how to develop and maintain positive relationships with the yourself and with people in your family, work place, neighbourhood, etc.</p>
                                          </div>
					</div>
					<div class="clearfix">
					<h3 class="header-h3">Workshops for the Youth</h3>
                                          <div class="content-1-site">					    
						<p>Monthly session on Spotlight on Values by the Youth of Om Cafe. Inspiration to inculcate values with fun.. </p>
                                          </div>
					</div>
					<div class="clearfix">
					<h3 class="header-h3">Special Retreats</h3>
                                          <div class="content-1-site">					    
						<p>A refresher to those who completed the Raja Yoga course </p>
					</div>
					</div>
					<div class="clearfix">
					<h3 class="header-h3">Temple events</h3>
                                          <div class="content-1-site">					    
						<p>On special occasions & festivals, RajaYoga centre along with various temple committees jointly organise special programmes/ performances at temples to reveal the true significance of the festivals and mythological events</p>
					</div>
					</div>
					<div class="clearfix">
					<h3 class="header-h3">Special workshops</h3>
                                          <div class="content-1-site">					    
						<p>These workshops are conducted on ad-hoc basis to help people understand and cultivate the moral values/ virtues through simple techniques to lead a Happy and Peaceful life </p>
					</div>
					</div>
					<div class="clearfix">
					<h3 class="header-h3">The Center holds regular talks/activities/Workshops/Courses in:</h3>
                                          <div class="content-1-site">					    
					<ul class="ul-video-workshops">
					<li>Meditation</li>
					<li>Positive thinking</li>
					<li>Stress-management and stress-free living</li>
					<li>Problem solving</li>
					<li>Self-managing leadership and quality</li>
					<li>Positive health/healthy-living</li>
					<li>Benefits of vegetarianism &amp; vegetarian cooking</li>
					<li> Leadership retreat for youth</li>
					<li>Creative visualization </li>
					</ul>
				
					</div>
					</div>
					</div>
					
				
