                                <ul class="contact-info">
                                  <li title="call us" class="contact-info-li">
                                        <em class="icon-phone">&nbsp;&nbsp;&nbsp;</em>
                                        <a href="tel:64411411" class="call-email-font">+65 6441 1411</a>
                                  </li>
                                  <li title="email us" class="contact-info-li">
                                        <em class="icon-envelope">&nbsp;&nbsp;&nbsp;</em>
                                        <span id="sg-email">
                                          <a href="mailto:singapore@sg.brahmakumaris.org" class="call-email-font">singapore@sg.brahmakumaris.org</a>
                                        </span>
                                  </li>
                                  <li class="contact-info-li-motto">
                                    <span class="contact-info-motto">Master your Mind... Design your Life</span>
                                  </li>
                                </ul>
								
			<div class="page-header bk-header-sg">
                <em class="merlion">&nbsp;&nbsp;&nbsp;</em>
                <em class="bk-sg-logo">&nbsp;&nbsp;&nbsp;</em>
			</div>								