<a href="http://www.brahmakumaris.org/uk/thoughts" target="_blank" class="list-group-item sg-side-bar">>> Thought for the day</a>
<%= link_to ">> Newsletter", newsletters_index_path, :class => "list-group-item sg-side-bar" %>
<a href="/mailing_users/new" class="list-group-item sg-side-bar">>> Join our mailing list</a>
<a href="http://www.the-yoga-shop.com" target="_blank" class="list-group-item sg-side-bar">>> Our Publications</a>